pre {
  overflow-x: auto;
}

/**
 * xonokai theme for JavaScript, CSS and HTML
 * based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * license: MIT; http://moox.mit-license.org/
 */

.rehype-code-title {
  margin-bottom: -0.6rem;
  padding: 0.5em 1em;
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  background-color: var(--gray-12);
  color: var(--gray-1);
  z-index: 10;
  margin-bottom: 1px;
  justify-self: flex-start;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.code-highlight {
  float: left;
  min-width: 100%;
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0);
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2);
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5);
  border-left: 4px solid rgb(59, 130, 246);
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: var(--text-muted);
  content: attr(line);
}

/**
 * xonokai theme for JavaScript, CSS and HTML
 */
code[class*="language-"],
pre[class*="language-"] {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: normal;
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  color: #76d9e6;
  text-shadow: none;
}

pre > code[class*="language-"] {
  font-size: 1em;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: var(--gray-4);
}

pre[class*="language-"] {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid var(--border-default);
  overflow: auto;
  position: relative;
}

pre[class*="language-"] code {
  white-space: pre;
  display: block;
}

:not(pre) > code[class*="language-"] {
  padding: 0.15em 0.2em 0.05em;
  border-radius: 0.3em;
  border: 0.13em solid #7a6652;
  box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6f705e;
}

.token.operator,
.token.boolean,
.token.number {
  color: #a77afe;
}

.token.attr-name,
.token.string {
  color: #e6d06c;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #e6d06c;
}

.token.selector,
.token.inserted {
  color: #a6e22d;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted {
  color: #ef3b7d;
}

.token.regex,
.token.statement {
  color: #76d9e6;
}

.token.placeholder,
.token.variable {
  color: #fff;
}

.token.important,
.token.statement,
.token.bold {
  font-weight: var(--weight-bold);
}

.token.punctuation {
  color: #bebec5;
}

.token.entity {
  cursor: help;
}

.token.italic {
  font-style: italic;
}

code.language-markup {
  color: #f9f9f9;
}

code.language-markup .token.tag {
  color: #ef3b7d;
}

code.language-markup .token.attr-name {
  color: #a6e22d;
}

code.language-markup .token.attr-value {
  color: #e6d06c;
}

code.language-markup .token.style,
code.language-markup .token.script {
  color: #76d9e6;
}

code.language-markup .token.script .token.keyword {
  color: #76d9e6;
}

/* Line highlight plugin */
.line-highlight.line-highlight {
  padding: 0;
  background: rgba(255, 255, 255, 0.08);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
  padding: 0.2em 0.5em;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  height: 1em;
  line-height: 1em;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
