.blogTitle {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px;
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.postListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.categoryListContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 10px;
  border: 2px solid var(--primary);
}
