@import "../styles/tokens/colors.css";
@import "../styles/tokens/typography.css";

:root {
  --bounce-font: "Birthstone Bounce", Arial, Helvetica, sans-serif;
}

html,
body {
  max-width: 100vw;
  min-width: 450px;
  height: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
  font-size: var(--text-sm);
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--interactive-default);
}

code {
  background-color: var(--bg-inverse);
  color: var(--text-inverse);
  font-family: var(--font-mono);
  font-weight: var(--weight-semi);
  padding: 2px 4px;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  #main {
    max-width: 1200px;
  }
}
