.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.spotlight {
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
  height: 100svh;
  background: linear-gradient(to bottom, rgb(255, 255, 100) 0%, rgba(0, 0, 0, 0) 60%);
  filter: blur(20px);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  transform: translateX(-50%);
  animation: flicker 1s infinite alternate;
}

.title {
  z-index: 2;
  color: --foreground;
  font-family: creepster;
  text-align: center;
  animation: flicker 1s infinite alternate;
  font-size: 2rem;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
    color: --background;
  }
  50% {
    opacity: 0.4;
    color: --foreground;
  }
}
